@import "tailwindcss";
@import "../styles/filters.css";

:root {
  --background: #f6f6fa;
  --foreground: #414141;
  --accent: #54a4ff;
  --accent-darker: rgb(30, 111, 203);
  --white: #ffffff;
  --black: #111111;

  /* Gris personnalisés */
  --gray-light: #e5e7eb;
  --gray-less-light: #9ca3af;
  --gray-medium: #6b7280;
  --gray-dark: #181818;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-darker: var(--accent-darker);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-gray-light: var(--gray-light);
  --color-gray-medium: var(--gray-medium);
  --color-gray-dark: var(--gray-dark);

  /* Fonts */
  --font-sans: var(--font-poppins);
}

/* Pour theme sombre temporaiment desactivé */
/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #3291ff;
  }
}*/

/* Éléments */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  @apply font-sans;
}

a {
  text-decoration: none;
  transition: text-decoration 200ms ease-out;
}
a:hover {
  text-decoration: underline;
  color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--black);
}

h1 {
  @apply text-2xl;
}

h3 {
  @apply text-lg md:text-xl font-semibold;
}
/* Composants */
.btn {
  @apply bg-white shadow-2xs;
}
.btn-primary-small {
  @apply bg-accent border border-accent-darker text-white px-6 py-2 rounded-lg font-medium text-sm cursor-pointer;
  transition: all 200ms ease-out;
}
.btn-primary-small:hover {
  /* opacity: 0.70; */
  background-color: var(--accent-darker);
  text-decoration: none;
  color: var(--white);
}

.logo-link {
  /* @apply hover:decoration-none; */
  @apply hover:no-underline;
}

/* Conteneur principal avec largeur max pour 18 pouces (2304px) */
.container-main {
  /* @apply max-w-[2304px] mx-auto w-full; */
  @apply max-w-576 mx-auto w-full;
}

.line-horizontal {
  height: 1px;
  background-color: var(--gray-light);
  @apply my-4;
}
